USE [master]
GO
/****** Object:  Database [CRM]    Script Date: 31.05.2017 1:58:11 ******/
CREATE DATABASE [CRM]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CRM', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\CRM.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'CRM_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\CRM_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CRM].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CRM]
GO
/****** Object:  Table [dbo].[CatalogGroupManagers]    Script Date: 31.05.2017 1:58:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CatalogGroupManagers](
	[Id] [int] NOT NULL,
	[Group] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_Справочник групп сотрудников] PRIMARY KEY CLUSTERED 
(
	[Group] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CatalogPositions]    Script Date: 31.05.2017 1:58:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CatalogPositions](
	[Position] [nvarchar](20) NOT NULL,
	[Pay] [money] NULL,
 CONSTRAINT [PK_Справочник должностей] PRIMARY KEY CLUSTERED 
(
	[Position] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CatalogStatus]    Script Date: 31.05.2017 1:58:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CatalogStatus](
	[Id] [int] NOT NULL,
	[Status] [nvarchar](15) NOT NULL,
 CONSTRAINT [PK_CatalogStatus] PRIMARY KEY CLUSTERED 
(
	[Status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CatalogTasks]    Script Date: 31.05.2017 1:58:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CatalogTasks](
	[Task] [nvarchar](30) NOT NULL,
	[Group] [nvarchar](20) NULL,
 CONSTRAINT [PK_Группы задач] PRIMARY KEY CLUSTERED 
(
	[Task] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Clients]    Script Date: 31.05.2017 1:58:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Clients](
	[Name] [nvarchar](15) NOT NULL,
	[Address] [nvarchar](50) NULL,
	[Phone] [char](13) NULL,
	[Email] [nvarchar](30) NULL,
	[CheckingAccount] [char](10) NULL,
	[Bank] [nvarchar](15) NULL,
	[Director] [nvarchar](20) NULL,
	[Accountant] [nvarchar](20) NULL,
	[Info] [text] NULL,
 CONSTRAINT [PK_Клиенты] PRIMARY KEY CLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Managers]    Script Date: 31.05.2017 1:58:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Managers](
	[Name] [nvarchar](40) NOT NULL,
	[Login] [nvarchar](10) NOT NULL,
	[Password] [binary](50) NOT NULL,
	[Position] [nvarchar](20) NULL,
	[Group] [nvarchar](20) NULL,
	[Address] [nvarchar](30) NULL,
	[Phone] [char](13) NULL,
	[Passport] [char](9) NULL,
	[DateOfBirth] [date] NULL,
	[DateRecruitment] [date] NULL,
	[Email] [nvarchar](20) NULL,
	[Info] [text] NULL,
 CONSTRAINT [PK_Сотрудники] PRIMARY KEY CLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Tasks]    Script Date: 31.05.2017 1:58:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tasks](
	[Id] [int] NOT NULL,
	[Client] [nvarchar](15) NULL,
	[Manager] [nvarchar](40) NULL,
	[Task] [nvarchar](30) NULL,
	[Info] [text] NULL,
	[DateStart] [date] NULL,
	[DateComplete] [date] NULL,
	[Status] [nvarchar](15) NULL,
 CONSTRAINT [PK_Задачи_1] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
ALTER TABLE [dbo].[Managers]  WITH CHECK ADD  CONSTRAINT [FK_Managers_CatalogGroupManagers] FOREIGN KEY([Group])
REFERENCES [dbo].[CatalogGroupManagers] ([Group])
GO
ALTER TABLE [dbo].[Managers] CHECK CONSTRAINT [FK_Managers_CatalogGroupManagers]
GO
ALTER TABLE [dbo].[Managers]  WITH CHECK ADD  CONSTRAINT [FK_Сотрудники_Справочник должностей] FOREIGN KEY([Position])
REFERENCES [dbo].[CatalogPositions] ([Position])
GO
ALTER TABLE [dbo].[Managers] CHECK CONSTRAINT [FK_Сотрудники_Справочник должностей]
GO
ALTER TABLE [dbo].[Tasks]  WITH CHECK ADD  CONSTRAINT [FK_Tasks_CatalogStatus] FOREIGN KEY([Status])
REFERENCES [dbo].[CatalogStatus] ([Status])
GO
ALTER TABLE [dbo].[Tasks] CHECK CONSTRAINT [FK_Tasks_CatalogStatus]
GO
ALTER TABLE [dbo].[Tasks]  WITH CHECK ADD  CONSTRAINT [FK_Задачи_Группы задач] FOREIGN KEY([Task])
REFERENCES [dbo].[CatalogTasks] ([Task])
GO
ALTER TABLE [dbo].[Tasks] CHECK CONSTRAINT [FK_Задачи_Группы задач]
GO
ALTER TABLE [dbo].[Tasks]  WITH CHECK ADD  CONSTRAINT [FK_Задачи_Клиенты] FOREIGN KEY([Client])
REFERENCES [dbo].[Clients] ([Name])
GO
ALTER TABLE [dbo].[Tasks] CHECK CONSTRAINT [FK_Задачи_Клиенты]
GO
ALTER TABLE [dbo].[Tasks]  WITH CHECK ADD  CONSTRAINT [FK_Задачи_Сотрудники1] FOREIGN KEY([Manager])
REFERENCES [dbo].[Managers] ([Name])
GO
ALTER TABLE [dbo].[Tasks] CHECK CONSTRAINT [FK_Задачи_Сотрудники1]
GO
USE [master]
GO
